mixin line(t, p)
	+e.line
		.row
			+e.col.col-lg-auto
				if t
					.h5= t
				if p 
					p.fw-600!= p
			.col 
				+e.caption
					block
mixin sEvents(data)
	// start sEvents
	+b.SECTION.sEvents.section#sEvents&attributes(attributes)
		.container
			+b.section-title
				h2
					span.outline-txt.d-block другие значимые
					| мероприятия,
					span.outline-txt.d-block проведенные
					| галереей:
			+line('Организация  выставок Русских  художников-эмигрантов,  ныне живущих во Франции.')
				.col
					ul 
						li Анатолия Путилина, известного Ленинградского художника-нонконформиста.
						li Потомственного русского дворянина Валентина Афанасьева, участника нашумевших  выставок андеграунда 70-х годах в Ленинграде.
						li Братьев Андрея и Владимира Гофманов, известных французских скульпторов.
			+line('Благотворительный проект  «Улыбки Петербургских Звёзд»')
				p Помощь детской Областной клинической больнице: собраны денежные средства на приобретение специального холодильного оборудования для хранения лекарств. Мы привлекли элиту петербургского бизнеса, известных петербуржцев из мира театра, кино и музыки, договорились с фотографом Васюковой Маргаритой  и изготовили уникальные портреты этих звёзд. Совместный проект со стоматологической клиникой «Аура».
			+e.line
				.h5 Памятная выставка Игоря Кравцова 
			
			+e.line
				.h5 Участие в архитектурной неделе Design Week
			
			+e.line
				.h5 Выставки, посвященные Всемирному Дню Театра
			
			+e.line
				.h5 Персональные выставки русской художницы Гели Писаревой, чьи работы находятся  в&nbsp;постоянной коллекции Русского Музея

			+line('Выставки под кураторством','известного петербургского искусствоведа, заведующего Отделом новейших течений Государственного Русского музея, заслуженного деятеля искусств Российской Федерации, члена Санкт-Петербургского отделения АИС – Александра Боровского, 2014г:')
				ul 
					li Выставка петербургских художников Игоря и Елены Кулик «PULP FICTION»
					li Групповая выставка известных петербургских художников-абстракционистов
			+line('','5-9 июня 2014 года генеральный директор галереи – Елена Мочалина посетила ВСЕРОССИЙСКИЙ КОНГРЕСС профессиональных работников и лидеров некоммерческих организаций в сфере культуры, организованный Институтом «Справедливый Мир» и Российским Творческим Союзом работников культуры. Место проведения мероприятий: Москва, Государственная Дума ФС РФ; Симферополь «Киноконцертный комплекс «Юбилейный»; Алушта Golden Resolt; Севастополь «Культурно-информационный центр».')
				p В результате посещения мероприятий Всероссийского Конгресса галерея «Мольберт» получила приглашение вступить в Российский творческий Союз работников культуры.  И в 2014 году вступила в РТСРК на секцию галеристов и коллекционеров. Впоследствии галерея стала принимать более активное участие в некоммерческих проектах и фестивалях в сфере культуры, значимых для нашего города и России, с целью закрепления имиджа галереи и оказания помощи в продвижении российских художников.
			+line('Студенты международных  и отечественных вузов  регулярно проходят практику в  галерее «Мольберт»:')
				ul 
					li Кристина Милкова,- Берлинская академия искусств (Akademie der Künste in Berlin) Прохождение практики и анонс выставки Георга Гросса
					li Студенты из Института им. Репина
					li Студенты из Академии Штиглица
					li Eszter Veres, студентка из Будапешта, Институт дизайна
					li Серкова Надежда-студентка СПБ филиала Финансового Университета при Правительстве РФ
					li Прохождение преддипломной практики студента 4 курса очного отделения Камракова Игоря Андреевича, обучающегося на факультете «Мировой культуры». «Музейное дело и охрана памятников»

			
	// end sEvents

	
mixin sEvents15(data)
	// start sEvents
	+b.sEvents.section#sEvents&attributes(attributes)
		.container
			
			.title-md.col-xl-8.mb-4 При оформлении заказа Вы можете выбрать один  из следующих способов оплаты
			+line('Банковской картой online','')
				p При оплате заказа банковской картой ввод реквизитов карты происходит в системе электронных платежей ПАО АКБ «», который прошел сертификацию в платежных системах Visa и MasterCard. Представленные Вами данные полностью защищены и никто, включая наш интернет-магазин, не может их получить.
				.a-items-js
					.a-hidden-items-js 
					a.text-body.a-show-more-js.toggle-text(href="#") Порядок проведения оплаты  <br> бансковской картой в сети интернет
			+line('Банковский перевод по счету для юридического лица')
				p Срок зачисления денежных средств — 2-3 рабочих дня.  Для выставления счета свяжитесь с нашим менеджером по электронной почте info@molbertgallery.ru или по телефону (812) 438-01-14.
			+line('Наличными или банковской картой')
				p Оплата наличными или банковской картой 
					br
					| в галерее (Санкт-Петербург). Оплата производится по адресу: 
					br
					| г. Санкт-Петербург, Большая Конюшенная ул. 11
					
			.title-md.mb-4 Вы можете выбрать один из следующих видов доствки:
			+line('Доставка товара курьером  (по Санкт-Петербургу).','')
				p Курьерская доставка по Санкт-Петербургу в пределах КАД осуществляется, как правило, на следующий рабочий день после передачи заказа курьеру. Стоимость доставки вы увидите, когда заказ будет сформирован. Оплатить доставку вы сможете вместе с заказом.
			+line('Самовывоз (Санкт-Петербург).')
				p Вы можете забрать свой заказ в галерее Molbert по адресу: г. Санкт-Петербург, ул. Большая Конюшенная 11. Для заказа, в состав которого входит оригинал, скульптура или предмет интерьера, возможна только доставка «Премиум» — она включает страхование товара.
			+line('Доставка товара курьерской  службой (доставка в Москву, по России и за границу).')
				p Мы работаем с транспортными компаниями EMS и TNT. Транспортные компании доставляют заказ до двери. Перед доставкой они свяжутся с вами для уточнения времени доставки.
	// end sEvents

