mixin starblock()
	+b.star-block 
		+icon("star").active
		+icon("star").active
		+icon("star").active
		+icon("star").active
		+icon("star")
mixin sRews(data)
	// start sRews
	+b.sRews.section#sRews&attributes(attributes)
		.container
			+e.row.row
				mixin item(t,p)
					+e.col.col-12
						+e.col-head
							+e.title.fw-600= t
							+starblock()
							p 30.11.2019
						+e.col-body
							p= p
				+item(`Гость`,`Купленный товар был доставлен быстро  и я доволен покупкой, картина тщательно упакована, и превосходит все ожидания, вписалась в интерьер как и хотелось! Спасибо магазину за высокий сервис.`)
				+item(`Марина М.`,`Помогли подобрать картину для гостинной! Велоколепные цвета картины вдохнавляют! Интерьер ожил с появлением картины.  Очень довольна, быстрая доставка, курьер за ранее предупредил о времени доставки! Благодарна онлайн-магазину Artmolbert за полное сопровождение покупки!`)
				+item(`Александр Н.`,`Купленный товар был доставлен быстро и я доволен покупкой, картина тщательно упакована, и превосходит все ожидания, вписалась в интерьер как и хотелось! Спасибо магазину за высокий сервис.`)
				+item(`Гость`,`Купленный товар был доставлен быстрои я доволен покупкой, картина тщательно упакована, и превосходит все ожидания, вписалась в интерьер как и хотелось! Спасибо магазину за высокий сервис.`)
				+item(`Гость`,`Купленный товар был доставлен быстро и я доволен покупкой, картина тщательно упакована, и превосходит все ожидания, вписалась в интерьер как и хотелось! Спасибо магазину за высокий сервис.`)
				+item(`Евгения C.`,`Купленный товар был доставлен быстро и я доволен покупкой, картина тщательно упакована, и превосходит все ожидания, вписалась в интерьер как и хотелось! Спасибо магазину за высокий сервис.`)
				+item(`Ефросинья С.`,`Купленный товар был доставлен быстро и я доволен покупкой, картина тщательно упакована, и превосходит все ожидания, вписалась в интерьер как и хотелось! Спасибо магазину за высокий сервис.`)
				+item(`Александра`,`Купленный товар был доставлен быстро  и я доволен покупкой, картина тщательно упакована, и превосходит все ожидания, вписалась в интерьер как и хотелось! Спасибо магазину за высокий сервис.`)
			+pugin()
	// end sRews