// start .sForm
.sForm {
	@include media-breakpoint-up(md){
		--sPT: #{rem(100)};
		--sPB: #{rem(124)};
	}

	&__img-col{
		@include media-breakpoint-up(md){
			padding-top: rem(200px);
		}
		@include media-breakpoint-up(xl){
			padding-right: rem(30);
		}
	}
	&__img-cont{
		margin: 0 auto rem(34px) auto;

		&:after{
			display: block;
			content: '';
			width: rem(228);
			height: 1px;
			background-color: $black;
			margin: rem(32) auto 0 auto;
		}
	}
	&__img{
		width: rem(183);
		height: rem(84);
		margin: 0 auto;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__txt{
		font-size: rem(24px);
		line-height: (29/24);
		text-align: center;
		letter-spacing: rem(2);
	}
	&__form-col{

	}
	&__form-cont{
		@include media-breakpoint-up(md){
			width: rem(500);
			margin-left: rem(35);
		}
	}
	&__title{
		h2{
			font-size: rem(45px);
			margin-bottom: rem(20);
			@include media-breakpoint-up(md){
				font-size: rem(72px);
				margin-bottom: rem(30);
			}
			line-height: 1;
			text-transform: uppercase;

		}
		p{
			font-family: $mono;
			max-width: rem(420);
			font-size: rem(18px);
			line-height: (22/18);
			color: $brown;
		}

		padding-bottom: rem(30);
		@include media-breakpoint-up(sm){
			padding-bottom: rem(69);
		}
	}

	.form-wrap{
		.label{
			margin-bottom: rem(36);
		}
		&__input{

		}
		.l-title{
			font-size: rem(24px);
			top: calc(100% - 33px);

			line-height: 1;
			color: rgba($black, .6);
		}
		&__send-btn-cont{
			padding-top: rem(10);
			@include media-breakpoint-up(sm){
				padding-top: rem(14px);
			}
		}
		&__send-btn{
			@extend .btn-default;
			width: 100%;

			font-size: 14px;
			line-height: (18/14);
			@include media-breakpoint-up(sm){
				padding: rem(24) rem(20);
			}
		}
		&__{}
	}
	&__{}
} // end.sForm