mixin sWho(data)
	// start sWho
	+b.SECTION.sWho.section#sWho&attributes(attributes)
		+e.bg.d-none.d-md-flex
			img(loading="lazy" src="img/svg/big-logo.svg" alt="")
		+e.container.container
			+sWhoItem(`Галерея MOLBERT — творческое пространство в центре Санкт-Петербурга. За 10 лет работы галерея провела более тысячи арт-мероприятий, в том числе выставочные проекты в сотрудничестве с музеями, посольствами и консульствами, Российским культурным центром, а также в содружестве <br> с иностранными галереями и кураторами.`)
				span.outlined-txt КТО
				br
				span.ms МЫ
			+sWhoItem(`Наша цель — продвижение современного отечественного и зарубежного искусства на российской арт-сцене, а также продвижение русского искусства за рубежом. Все авторы были отобраны нашей командой, каждый художник высоко зарекомендовал себя и ценится коллекционерами.`)
				span.outlined-txt ЧТО МЫ
				br
				span.ms ДЕЛАЕМ
			+sWhoItem(`Мы стремимся предоставить вам доступ <br/> к большому выбору произведений современных художников, в какой бы точке мира вы ни находились. Мы заботимся <br> о логистических процессах, оформлении таможенных документов, чтобы вы могли сосредоточиться исключительно на искусстве.`)
				span.outlined-txt КАК МЫ
				br
				span.ms РАБОТАЕМ
	// end sWho

mixin sWhoItem(descr)
	+e.item
		+e.title
			h2
				block
		+e.descr!=descr