mixin modal()
	//  start modals
	+b.modal-exponation.modal-win(id="modal-exponation" class="" style="display: none")
		+e.txt-box
			strong Основные выставки:
			br
			br
			strong 2004
			br
			ul
				li «Арт-Манеж в ЭКСПОЦЕНТРЕ», Галерея «ARS LONGA», «ЭКСПОЦЕНТР», Москва, Россия
				li 1-й Салон Искусств «Лучшие художественные галереи», Галерея «ARS LONGA», «Инфопространство»,Москва, Россия
				li 2-й Салон Искусств «Лучшие художественные галереи», Галерея «ARS LONGA», «Инфопространство»,Москва, Россия
				li «Арт-Манеж, 2004», Галерея «ARS LONGA», ЛФК «ЦСКА», Москва, Россия
			strong 2004-2005
			br
			ul
				li «Новые имена и новые работы», Галерея «АRS LONGA», ЦДХ, Москва, Россия
			strong 2005
			br
			ul
				li «ЦДХ», зал №9, Галерея «ARS LONGA», Москва, Россия
				li «Атмосфера”. Малая Садовая,4. Галерея «ARS LONGA», Москва, Россия
				li
					| Биеннале современного искусства. VII Международная выставка, ЦВЗ «Манеж»,
					|
					br
					| Галерея «ARS LONGA», С-Петербург, Россия
				li «ЦДХ. Лето, 2005», Центральный Дом Художника, Галерея «ARS LONGA», Москва, Россия.
			strong 2006
			br
			ul
				li
					| «АРТ- МАНЕЖ, 2006″. X Международная художественная ярмарка, ЦВЗ «Манеж», Москва,
					br
					| Галерея «ARS LONGA», Россия
				li 6-й салон «Лучшие художественные галереи», «Инфопространство», Галерея «ARS LONGA», Москва, Россия
				li «Перекресток столетий» (совместный проект с галереями «АРТ-РА» и «ЭКСПО-88»), Центральный Дом Художника, Галерея «ARS LONGA», Москва, Россия
				li Проект «Городу и миру». 7-салон «Лучшие художественные галереи», «Инфопространство»,Галерея «ARS LONGA», Москва, Россия
				li «Фестиваль галерей», Галерея «ARS LONGA» ЦВЗ «Манеж», С-Пб, Россия.
			strong 2007
			br
			ul
				li «ХУДГРАФ», МГВЗ «Новый Манеж», Галерея «ARS LONGA», Москва, Россия
	// #modal-call
	+b.modal-size.modal-win(id="modal-size" class="" style="display: none")
		+e.img
			img(loading="lazy" src="img/@2x/table-stab.png" alt="")

	
	// end modals