.modal-win {
	width: 100%;
	position: relative;
	max-width: rem(500);

	.modal-content {

	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

.modal-form {
	position: relative;
}

.modal-exponation{
	max-width: rem(1200);
	@include media-breakpoint-up(xxl){
		padding: rem(76)!important;
	}
	&__txt-box{
		font-weight: 600;
		line-height: 1.45;
	}

	ul{
		list-style: none;
		padding: 0;
		margin: 0 0 rem(30);

		li{
			&:before{
				content: '–';
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}

.modal-size{
	max-width: 600px;
}

.modal-reg{
	max-width: rem(578);
	padding: rem(0)!important;
	@include media-breakpoint-up(sm){
		padding: rem(30)!important;
	}
	@include media-breakpoint-up(xxl){
		padding: rem(50)!important;
	}

	&__content{
		background: $gray-220;

		padding: rem(50) rem(20) rem(30) rem(20);
		@include media-breakpoint-up(sm){
			padding: rem(30) rem(20);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(50) rem(30);
		}
	}

	&__title{
		font-weight: 600;
		font-size: rem(24px);
		line-height: 1;
		letter-spacing: rem(1);
		margin-bottom: rem(30);
	}

	.form-wrap{
		width: rem(255);
		margin: 0 auto rem(40) auto;
		&__input-title{
			font-weight: 600;
			font-size: 14px;
			line-height: 1;
			color: $black;
			margin-bottom: rem(6);
		}
		&__input{
			background-color: transparent;
		}
		&__input-wrap{
			margin-bottom: rem(20);
		}
		&__hint{
			font-size: 14px;
			line-height: 1;
			color: $gray-610;
			margin: rem(-11) 0 rem(30) rem(16);
		}

		&__btn{
			@extend .btn-default;
			min-width: 100%;
		}
		&__btn-toggle-show-password{
			top: rem(32);
		}


		&__{}
		&__{}
	}

	&__soc-reg{
		border-top: 1px solid $gray-610;
		padding: rem(40) 0 rem(30);

		font-weight: 600;
		line-height: 1;

	}
	&__btns{
		max-width: rem(255);
		margin: 0 auto;
		& > *{
			margin-bottom: rem(20);
		}
		& > *:last-child{
			margin-bottom: 0;
		}
	}
}