.modal-win {
	width: 100%;
	position: relative;
	max-width: rem(500);

	.modal-content {

	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

.modal-form {
	position: relative;
}

.modal-exponation{
	max-width: rem(1200);
	@include media-breakpoint-up(xxl){
		padding: rem(76)!important;
	}
	&__txt-box{
		font-weight: 600;
		line-height: 1.45;
	}

	ul{
		list-style: none;
		padding: 0;
		margin: 0 0 rem(30);

		li{
			&:before{
				content: '–';
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}

.modal-size{
	max-width: 600px;
}