mixin sShow(data)
	// start sShow
	+b.SECTION.sShow.section#sShow&attributes(attributes)
		.container
			+b.section-title
				h2
					span.outlined-txt Выставки
		+e.slider-wrap
			
			+e.slider--js
				.swiper-wrapper
					- for (var x = 0; x < 3; x++)
						+e.slide.swiper-slide 
							.container
								+e.item
									.row
										+e.col.col-lg-auto 
											+pic("gal.jpg",'bg',0)
										.col
											.a-items-js  
												+e.title русский музей
												p Императорские сады России. Михайловский сад. презентация проекта «400 лет Дома Романовых» (более подробная информация о проекте размещена на предыдущей странице)
												p Императорские сады России. Михайловский сад. В рамках VII Международного Фестиваля «Императорские сады» в конкурсной программе представлена инсталляция галереи «Мольберт» – «Алиса  в Стране Чудес» и «Алиса в Зазеркалье». Инсталляция сделана по эскизам московского современного художника Юрия Ващенко к произведениям Льюиса Кэролла.
												p Императорские сады России. Михайловский сад. 10 Фестиваль АВАНГАРДЕНС...
												.a-hidden-items-js
													p Императорские сады России. Михайловский сад. 10 Фестиваль АВАНГАРДЕНС...
													p Императорские сады России. Михайловский сад. 10 Фестиваль АВАНГАРДЕНС...
													p Императорские сады России. Михайловский сад. 10 Фестиваль АВАНГАРДЕНС...
												.text-body.a-show-more-js.toggle-text Читать все
			+arrowl
			.swiper-pagination
	// end sShow