:root {
	--animate-delay: 1.2s;

	--fontSizeBase: 14px;
	@include media-breakpoint-up(md){
		--fontSizeBase: 15px;
	}
	@include media-breakpoint-up(xl){
		--fontSizeBase: 16px;
	}
	@include media-breakpoint-up(xxl){
		--fontSizeBase: #{$em-base};
	}

	--sPT: #{rem(40)};
	--sPB: #{rem(50)};
	--sTPB: #{rem(40)};
	@include media-breakpoint-up(md){
		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(40)};
	}

	--i-cont-padding: #{15px};
	@include media-breakpoint-up(md){
		--i-cont-padding: #{rem(80px)};
	}
	@include media-breakpoint-up(xl){
		--i-cont-padding: #{rem(80px)};
	}
	@include media-breakpoint-up(xxl){
		--i-cont-padding: #{rem(160px)};
	}
}
