mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider-wrap
				.swiper-container.headerBlock-slider-js
					.swiper-wrapper
						+hBFistSlide()
						+hBFistSlide2()
						+hBFistSlide3()
						+hBFistSlide4()
						+hBFistSlide5()
						+hBFistSlide6()
						//-- for (var i = 0; i < 5; i++)
							+hBFistSlide()
					+e.slider-nav
						+e.arrow-cont
							+arrow('headerBlock')
						.swiper-pagination
	// end headerBlock

mixin hBFistSlide()
	.swiper-slide
		+e.slide-content
			+e.txt-box
				+e.welcome-txt welcome to
				+e.name
					span art
					br
					span.molbert MOLBERT
				+e.btn-cont
					+e.buy-btn(href='#') КУПИТЬ
			+e.img-block
				+e.img--1.d-none.d-sm-block
					img(loading="lazy" src="img/@2x/hb-slide-1.jpg" alt="")
				+e.img--2.d-none.d-md-block
					img(loading="lazy" src="img/@2x/hb-slide-2.jpg" alt="")
				+e.img--3.d-none.d-sm-block
					img(loading="lazy" src="img/@2x/hb-slide-3.jpg" alt="")
				+e.img--4
					img(loading="lazy" src="img/@2x/hb-slide-4.jpg" alt="")

mixin hBFistSlide2()
	.swiper-slide
		+e.slide-content
			+b.hb-slide-2
				+e.bg
					img(loading="lazy" src="img/@2x/header-bl-slide-2.jpg" alt="")
				+e.title
					h2
						span.outlined-txt НАЙДИ
						span.ms ИСКУССТВО
						span.outlined-txt которое
						span.ms ты любишь

mixin hBFistSlide3()
	.swiper-slide
		+e.slide-content
			+b.hb-slide-2
				+e.bg
					img(loading="lazy" src="img/@2x/header-bl-slide-3.jpg" alt="")
				+e.title
					h2
						span.outlined-txt ВАШ
						span.ms ВЫБОР
						span.outlined-txt СТАЛ
						span.ms ПРОЩЕ

mixin hBFistSlide4()
	.swiper-slide
		+e.slide-content
			+b.hb-slide-3
				+e.bg
					img(loading="lazy" src="img/@2x/header-bl-slide-4.jpg" alt="")
				+e.content
					h2 ПОДАРКИ
					+e.btn-cont
						+e.btn(href='#') КУПИТЬ

mixin hBFistSlide5()
	.swiper-slide
		+e.slide-content
			+b.hb-slide-5
				+e.bg
					img(loading="lazy" src="img/@2x/header-bl-slide-5.jpg" alt="")
				+e.wrap.text-md-end
					+e.content
						h2 ПОДАРКИ
						+e.btn-cont
							+e.btn(href='#') КУПИТЬ

mixin hBFistSlide6()
	.swiper-slide
		+e.slide-content
			+b.hb-slide-3
				+e.bg
					img(loading="lazy" src="img/@2x/header-bl-slide-6.jpg" alt="")
				+e.content
					h2 ПОДАРКИ
					+e.btn-cont
						+e.btn(href='#') КУПИТЬ