mixin sProjects(data)
	// start sProjects
	+b.SECTION.sProjects.section#sProjects&attributes(attributes)
		.container
			+b.section-title
				h2 
					span.outlined-txt Исторически 
					| значимые проекты
				
			ul
				mixin li(p)
					li
						.a-items-js 
							p= p
							.a-hidden-items-js
								p= p
							.text-body.a-show-more-js.toggle-text Читать все
				+li(`Сочные, яркие, свои! Олимпиада в Сочи глазами русских художников, 2014г, передвижная выставка.Художники галереи Мольберт посетили Олимпиаду и создали произведения на основе собственных, живых впечатлений от одного из самых значимых событий в России`)
				+li(`Конкурс молодых художников «400 лет Дому Романовых» Конкурс проводился в Санкт-Петербурге с 20 марта по 11 июля 2013 года галереей «Мольберт» под покровительством Ее Императорского Высочества Великой Княгини...`)
				+li(`Выставка молодых петербургских художников, посвященная 70-летию снятия блокады Ленинграда, 27 января 2014 года.Великая Отечественная война оставила след в сердцах многих поколений ленинградцев. 27 января в честь Дня снятия блокады Ленинграда в `)
				+li(`Бородино. Взгляд сквозь столетия, сентябрь 2012 год Выставка «Бородино. Взгляд сквозь столетия», посвященная 200-летнему юбилею Отечественной войны 1812 года, была представлена в зале галереи «Мольберт».`)
	// end sProjects