mixin sProps(data)
	// start sProps
	+b.SECTION.sProps.section#sProps&attributes(attributes)
		.container
			+e.baner
				img(loading="lazy" src='img/@2x/props-baner.jpg' alt="")
				+e.black
					img(loading="lazy" src="img/svg/logo-white.svg" alt="")
			+e.content.text-center
				+e.name ООО “Арт Мольберт”
				+e.txt ОГРН: 1109847047232
				+e.txt ИНН: 7814487932
				+e.txt Юр Адрес : С-Пб ул Планерная 27 к 1 кв 16
	// end sProps