mixin sCooperation(data)
	// start sCooperation
	+b.SECTION.sCooperation.section#sCooperation&attributes(attributes)
		.container
			+b.section-title
				h2 
					span.outline-txt.d-block сотрудничетсво
					| с издательствами
			.col-lg-6 
				p.fw-600 Еще одним из направлений деятельности галереи является сотрудничество  с лучшими русскими издательствами и презентации книг с иллюстрациями современных художников – продвижение и поддержка культуры книги.
			+b.sPC-dd.sProdCard-dd-group-js
				+sProdCardDDItem("издательство “Вита нова”")
				+sProdCardDDItem("издательство детской литературы “поляндрия”")
				+sProdCardDDItem("издательство “планета музыки”")
	// end sCooperation