extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sPaltes/_sPaltes.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sPrice/_sPrice.pug
//- include ../blocks/sWho/_sWho.pug
//- include ../blocks/sPopular/_sPopular.pug
//- include ../blocks/sStyle/_sStyle.pug
//- include ../blocks/sNew/_sNew.pug
//- include ../blocks/sPresents/_sPresents.pug
//- include ../blocks/sInstagram/_sInstagram.pug
//- include ../blocks/sPresents/_sPresents.pug
//- include ../blocks/sPercents/_sPercents.pug
include ../blocks/sProdCard/_sProdCard.pug
//- include ../blocks/sSafe/_sSafe.pug
//- include ../blocks/sAuthorPage/_sAuthorPage.pug
//- include ../blocks/sAuthorBio/_sAuthorBio.pug
include ../blocks/sNew/_sNew.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sColections/_sColections.pug

block variables
	- let  mainPage= 'colections-page'
	- let  bg= null

block title
	- let  title= '05-colections'
	title= title
block pagecontent
	+mob-mnu()
	+header()
	+top-nav(true)
	+topLine()
	+b.page-head
		.container
			+breadcrumb('Главная', 'Каталог', title)
			.row.align-items-center
				.col
					h1= title
				.col-md-auto
					+e.select
						+socSelect2('sort-select', [''], 'select2-no-search-js')(data-placeholder="Выбрать коллекцию")
							option(value="" label="" selected)
							option(value='Искусство и модае') Искусство и модае
							option(value="Горы") Горы
							option(value="Животные") Животные
							option(value="Бытовые сцены") Бытовые сцены
							option(value="В саду") В саду
							option(value="Весна") Весна
							option(value="Для коллег") Для коллег
							option(value="Для нее") Для нее
							option(value="Для него") Для него
							option(value="Любовь") Любовь
							option(value="Космос") Космос
	+sCatalog5()
	+footer()