extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sOrder/_sOrder.pug


block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Оформление заказа'
	title= title
block pagecontent
	+mob-mnu()
	+header()
	+top-nav(true)
	+topLine()
	+b.page-head 
		.container
			+breadcrumb('Главная', title)
			.row 
				.col
					h1= title
				.col-auto
	+sOrder
	+footer()