extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sPaltes/_sPaltes.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sPrice/_sPrice.pug
include ../blocks/sWho/_sWho.pug
include ../blocks/sPopular/_sPopular.pug
include ../blocks/sStyle/_sStyle.pug
include ../blocks/sNew/_sNew.pug
include ../blocks/sPresents/_sPresents.pug
include ../blocks/sInstagram/_sInstagram.pug
include ../blocks/sPresents/_sPresents.pug
include ../blocks/sPercents/_sPercents.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sSafe/_sSafe.pug
include ../blocks/sAuthorPage/_sAuthorPage.pug
include ../blocks/sAuthorBio/_sAuthorBio.pug
include ../blocks/sBasket/_sBasket.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Корзина  '
	title= title
block pagecontent
	+mob-mnu()
	+header()
	+top-nav(true)
	+topLine()
	+b.page-head 
		.container
			+breadcrumb('Главная', title)
			.row 
				.col
					h1= title
				.col-auto
	+sBasket()
	+footer()