extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sServises/_sServises.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Услуги   '
	title= title
block pagecontent
	+mob-mnu()
	+header()
	+top-nav(true)
	+topLine()
	+b.page-head 
		.container
			+breadcrumb('Главная', title)
			.row 
				.col
					h1= title
				.col-auto
	+sServises
	+footer()