extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sRews/_sRews.pug
include ../blocks/sFormRew/_sFormRew.pug
include ../blocks/sCabinet/_sCabinet.pug
include ../blocks/sProdCard/_sProdCard.pug
//- include ../blocks/sSafe/_sSafe.pug
//- include ../blocks/sAuthorPage/_sAuthorPage.pug
//- include ../blocks/sAuthorBio/_sAuthorBio.pug
include ../blocks/sNew/_sNew.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'мой аккаунт  '
	title= title
block pagecontent
	+mob-mnu()
	+header()
	+top-nav(true)
	+topLine()
	+b.page-head 
		.container
			+breadcrumb('Главная', title)
			.row 
				.col
					h1= title
				.col-md-auto.pt-1
					.title-md.mb-1 Избранное
				//- 	a.btn-default(href="#sFormRew") оставить отзыв  
	.section.container 
		.row 
			.col-lg-3.col-xxl-4
				+b.nav-slider--js
					+b.UL.aside-nav.swiper-wrapper
						li.swiper-slide 
							a(href="#") 
								+icon("user")
								| Данные аккаунта
						li.swiper-slide 
							a(href="#") 
								+icon("adress")
								| Контактные данные
						li.swiper-slide 
							a(href="#") 
								+icon("bag")
								| Мои заказы
						li.swiper-slide 
							a.active(href="#") 
								+icon("heart2")
								| Избранное
						li.swiper-slide 
							a(href="#") 
								+icon("logout")
								| Выйти  
			.col-lg-9.col-xxl-8
				+sCatalog14()


				// пустой
				+b.empty-block.text-center.pb-5
					p На данный момент Вы не сохранили ни одного товара
					.mb-3
						img(src="img/svg/empty.svg", alt="")
					p Перейдите к покупкам, чтобы сделать свой первый заказ
					a.btn-default(href="#") перейти в каталог
				// пустой вар2
				+b.empty-block.text-center.pb-5
					p На данный момент Вы не сохранили ни одного товара
					.mb-3
						img(src="img/svg/empty.svg", alt="") 
					a.btn-default(href="#") перейти в каталог
	//- +sForm12
	+footer()