extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sRews/_sRews.pug
include ../blocks/sFormRew/_sFormRew.pug
include ../blocks/sEvents/_sEvents.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Оплата и доставка  '
	title= title
block pagecontent
	+mob-mnu()
	+header()
	+top-nav(true)
	+topLine()
	+b.page-head 
		.container
			+breadcrumb('Главная', title)
			.row 
				.col
					h1= title
				//- .col-md-auto.pt-1
				//- 	.title-md.mb-1 данные аккаунта
				//- 	.small 
				//- 		span.fw-900 Вы вошли как, 
				//- 		| tatiana.nikolaeva@mail.com
	.container
		.col-xl-6 
			p.fw-600 Интернет-магазин Molbert Gallery работает только по 100% предварительной оплате заказа. 
	+sEvents15

	+footer()