
	// start .sContent
	.sContent {
		&__center-block{
			margin-left: auto;
			margin-right: auto;
			max-width: rem(700);
		}
		&__address-block{
			// padding-top: rem(170);
			.row{
				align-items: center;
			}
			p{
				border-left: 1px solid;
				max-width: rem(640);
				padding-left: rem(40);
			}
		}
		&__img-wrap{
				display: flex;
				margin-bottom: rem(30);
				picture{
					&:nth-child(1){
						margin-top: 15%;
						margin-right: -15%;
					}
					&:nth-child(2){
						margin-top: 30%;
						margin-right: -15%;
					}
				}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContent