mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.head

				.h1.outlined-txt.ttu.col-xl-8.mb-5 Галерея Molbert –  это арт галерея, широко популяризирующая современное искусство 
				+e.center-block 
					p Галерея Molbert&nbsp;&mdash; это он-лайн арт платформа, объединяющая как художников в&nbsp;мировом масштабе и&nbsp;их&nbsp;коллекционеров, так и&nbsp;всех любителей искусства.  Галерея Molbert представляет только оригинальные произведения искусства и&nbsp;всегда привлекает новую аудиторию, и&nbsp;ее&nbsp;интерес к&nbsp;культурным событиям.
					p Галерея Molbert представляет только оригинальные произведения искусства и&nbsp;всегда привлекает новую аудиторию, и&nbsp;ее&nbsp;интерес к&nbsp;культурным событиям.Продавать искусство в&nbsp;галерее Мольберт&nbsp;&mdash; это уникальная возможность представить свои работы всему миру и&nbsp;найти нового зрителя и&nbsp;коллекционера твоего искусства.
					p Покупать работы в&nbsp;галерее Мольберт&nbsp;&mdash; это в&nbsp;первую очередь доверие к&nbsp;галерее с&nbsp;10&nbsp;летним опытом работы в&nbsp;арт- индустрии, а&nbsp;также это удобный поиск найти&nbsp;то, что нравится&nbsp;и, главное, это лучшая инвестиция в&nbsp;себя, а&nbsp;то&nbsp;есть в&nbsp;потребности твоих собственных желаний.
			+e.address-block
				.row
					.col-lg-6.order-lg-last
						+e.img-wrap 
							+pic("addr-1.jpg",'',0)
							+pic("addr-2.jpg",'',0)
							+pic("addr-3.jpg",'',0)
					.col
						p.fw-600 Галерея находится в&nbsp;центре Петербурга, между Русским музеем и&nbsp;Эрмитажем, во&nbsp;Дворах Капеллы. Старинный дом конца XIX&nbsp;века, в&nbsp;котором разместилась галерея, ранее входил в&nbsp;единый комплекс построек Капеллы, созданных архитектором Леонтием Бенуа.  В&nbsp;этом доме жили и&nbsp;преподавали такие выдающиеся личности русской культуры как: Н.А. Римский-Корсаков, М.Ф. Гейслер, В.В. Чаплин, Б.Ф. Гуслистый.
	// end sContent