// start .sCatalog
.sCatalog {
	// --sPT: #{rem(25px)};
	--sPB: #{rem(70px)};

	.section-title{

	}
	&__top-row{
		padding-bottom: rem(70);
	}
	.section-title{
		h1{
			text-transform: uppercase;
			// font-size: rem(64px);
			@include rfs(64px);
			line-height: 1;
			margin-bottom: 0;
		}

		position: relative;
		&:after{
			@include media-breakpoint-up(lg){
				content: '';
			}
			position: absolute;
			z-index: 1;
			display: block;
			width: 100vw;
			height: 1px;
			background: $black;
			right: calc(100% - 200px);
			bottom: -20px;
		}
	}
	&__select{
		width: rem(318);
	}

	//
	&__filter-item{
		--f-head-aft-rot: 0deg;
		&.active{
			--f-head-aft-rot: 180deg;
		}

		margin-bottom: rem(37);
	}
	&__head{
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: rem(13) 0;
		border-bottom: 1px solid $gray-610;

		font-weight: 600;
		font-size: rem(24px);
		line-height: 1;

		letter-spacing: 2px;
		text-transform: uppercase;
		color: $black;

		&:after{
			@include mt();
			transform: rotateX(var(--f-head-aft-rot, 0));
			content: '';
			flex-shrink: 0;
			margin-left: rem(20);
			width: rem(18);
			height: rem(18);

			background-image: url(../img/svg/chevron-bold-bot.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&__content{
		display: none;
		&.active{
			display: block;
		}
	}
	//
	&__content-inner{
		padding: rem(30) 0;
	}
	&__plates-row{
		--bs-gutter-y: #{rem(10)};
		@include roww(rem(10));
		@include media-breakpoint-up(xxl){
			--bs-gutter-y: #{rem(20)};
			@include roww(rem(18));
		}
	}
	&__plate{
		@extend .btn;
		@extend .btn-light;

		display: inline-flex;
		align-items: center;
		padding: rem(10);

		font-size: rem(14);
		line-height: 1;
		color: $gray-810;


		&:after{
			content: '';
			flex-shrink: 0;
			display: inline-block;
			margin-left: rem(10);
			width: rem(18);
			height: rem(18);

			background-image: url(../img/svg/close-cross.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&__discard-btn{
		font-weight: 600;
		line-height: 1;
		margin-bottom: rem(10);
		text-decoration: none;
	}
	&__hide-btn{
		cursor: pointer;
		display: flex;
		align-items: center;

		font-weight: 600;
		line-height: 1;

		&:after{
			content: '';
			flex-shrink: 0;
			width: rem(18);
			height: rem(18);
			margin-left: rem(14);
			transform: rotateX(180deg);

			background-image: url(../img/svg/chevron-bold-bot.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	//range-wrap
	&__range-wrap{
		padding-bottom: rem(50);
	}
	&__ok-btn{
		@extend .btn-default;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	//
	&__chb-row{
		padding-bottom: rem(10px);
	}
	&__chb-group-alt{
		.custom-chb{
			margin-bottom: 20px;
		}
	}

	//items-col
	&__content-row{
		@include media-breakpoint-up(xxl){
			@include roww(42px);
		}
	}
	&__filter-col{}
	&__items-col{}
	&__items-row{
		@include roww(rem(20));
		--bs-gutter-y: #{rem(30)};
		@include media-breakpoint-up(sm){
			--bs-gutter-y: #{rem(40)};
		}

		padding-bottom: rem(60);
		@include media-breakpoint-up(xxl){
			--bs-gutter-y: #{rem(50)};
			padding-bottom: rem(100);
		}
	}
	&__item-col{
		@media (min-width: 440px) and (max-width: 576px) {
			width: 50%;
		}
	}
	&__{}

	&__catalog-line {
		.sCatalog__items-row{

			--bs-gutter-x: 62px;
		}
		&:nth-child(even) {
			.sCatalog__items-row{
				flex-direction: row-reverse;
			}
		}
	}

	//sCatalog2
	&__menu{
		ul{
			align-items: center;
			list-style: none;
			@extend .row;
			margin-bottom: rem(41);

			@include media-breakpoint-up(xxl){
				@include roww(rem(40));
			}

			li{
				@extend .col-auto;
			}
			a{
				display: block;
				text-decoration: none;
				font-weight: 600;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 1px;

				position: relative;
				z-index: 1;
				&:after{
					@include mt();
					opacity: 0;
					content: '';
					position: absolute;
					z-index: 1;
					top: calc(100% + 4px);
					left: 0;
					width: 100%;
					height: 4px;
					background-color: currentColor;
				}

				&:hover{
					&:after{
						opacity: 1;
					}
				}
			}
		}
	}
	&__chb-slider-wrap{
		position: relative;
		z-index: 1;
		margin-bottom: rem(30);

		&:before,
		&:after{
			///content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			height: 100%;
		}

		&:before{
			z-index: 2;
			background: linear-gradient(270.4deg, #FFFFFF 77.16%, rgba(255, 255, 255, 0.54) 99.74%);
			left: 100%;
			width: 70px;
		}
		&:after{
			background: $white;
			left: calc(100% + 70px);
			width: 100vw;
		}

		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: rem(250);
		}
	}
	&__c-box{
		width: 100%;
		position: relative;
	}
	&__c-head{
		@include mt();
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;

		border: 1px solid $gray-610;
		&.active{
			border: 1px solid $black;
		}
		padding: rem(19);

		font-weight: 600;
		line-height: 1;

		letter-spacing: 3px;
		text-transform: capitalize;

		&:after{
			content: '';
			display: inline-block;
			width: rem(18);
			height: rem(18);

			background-image: url(../img/svg/chevron-bold-bot.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
	&__c-content{
		display: none;
		&.active{
			display: block;
		}

		position: absolute;
		top: calc(100% - 1px);
		left: 0;
		width: 100%;
		min-height: rem(260px);
		background: $white;

		border: 1px solid $black;

		padding: rem(20);

		.custom-chb{
			margin-bottom: rem(18);
		}
	}
	&__c-select{
		width: rem(300);
		max-width: 100%;
		margin-bottom: rem(30);
	}

	//
	&__c-filters{
		border-top: 1px solid $gray-610;
		border-bottom: 1px solid $gray-610;
		padding: rem(20) 0;
		margin-bottom: rem(50);
	}
	&__f-sub-row{
		@include roww(rem(18));
		--bs-gutter-y: #{rem(18)};
	}
	&__f-discard{
		text-decoration: none;
		display: inline-flex;
		align-items: center;

		font-size: rem(18);
		line-height: 1;

		&:after{
			content: '';
			width: rem(12);
			height: rem(12);
			margin-left: rem(47);

			background-image: url(../img/svg/cross12.svg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__{}
	&__{}
} // end.sCatalog

.custom-chb{
	display: flex!important;
	align-items: center;
	cursor: pointer;

	--cc-txt-c: #{$gray-810};
	&:hover{
		--cc-txt-c: #{$orange2};
	}
	input:checked + .square{
		&:after{
			opacity: 1;
		}
	}
	.square{
		@include mt();
		width: 18px;
		height: 18px;
		flex-shrink: 0;
		margin-right: rem(18);
		border: 1px solid var(--cc-txt-c, #{$gray-810});

		position: relative;
		&:after{
			@include mt();
			opacity: 0;
			content: '';
			width: rem(12);
			height: rem(12);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);

			background-image: url(../img/svg/checkmark.svg);
			background-repeat: no-repeat;
			background-size: rem(12) rem(12);
			background-position: center;
		}
		//checkmark
	}

	.cc-txt{
		@include mt();
		font-weight: 600;
		line-height: 1;
		text-transform: capitalize;
		color: var(--cc-txt-c, #{$gray-810});
	}

	//
	&--color{
		input:checked + .square{
			&:before{
				border: 1px solid currentColor;
			}
		}
		.square{
			background-color: currentColor;
			border: none;
			&:after{
				content: none;
			}
			&:before{
				@include mt();
				content: '';
				border: 1px solid transparent;
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				width: 24px;
				height: 24px;
			}
		}
	}
}

.collection-banner{
	min-height: 100%;
	@include block(620,  535);
	&::after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		height: 70%;
		width: 100%;
		color: #fff;
	}
	&__caption{
		position: absolute;
		padding: rem(30);
		left: 0;
		bottom: 0;
		z-index: 2;
	}
	&__btn{
		@extend .btn;
		@extend .btn-outline-white;
		border-width: 2px;
		width: rem(100);
		height: rem(60);
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 1px;
		.icon{
			font-size: rem(20);
		}

	}
	&__title{
		@extend .h4;
		color: #fff;
		font-weight: 600;
		max-width: rem(300);
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin-bottom: rem(20);
	}
}