mixin topLine()
	// start topLine
	+b.topLine.d-xl-block.d-none#topLine&attributes(attributes)
		.container
			+e.row.row
				+e.col--left.col-auto.text-end Скидки на летний сезон:
				+e.col--mid.col-auto 10% скидка на покупку от 20 000 руб. по коду Summer10
				+e.col--right.col 5% скидка на покупку от 50 000 руб. по коду Summer15
	// end topLine