// start .sPolicy
.sPolicy {
	&__top{
		margin-bottom: rem(40);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(100);
		}

		font-weight: 600;
		line-height: (22/18);
	}
	&__item{
		padding-bottom: rem(40);
		@include media-breakpoint-up(md){
			padding-bottom: rem(60);
		}
		@include media-breakpoint-up(xl){
			padding-bottom: rem(109);
		}
		strong{
			display: block;
			font-weight: 600;
			line-height: 1;
			margin-bottom: rem(14px);
		}
		p{
			margin-bottom: rem(34);
			line-height: 1.45;
		}

		& > *:last-child{
			margin-bottom: 0;
		}
		ul{
			list-style: none;
			counter-reset: list 0;
			margin: 0;
			li{
				list-style-type: none;
				display: flex;
				align-items: flex-start;

				&:before{
					counter-increment: list;
					content: counter(list) ".";
					flex-shrink: 0;
					width: rem(35);
					display: inline-block;
					height: auto;

					font-weight: 600;
					//line-height: 1.45;
				}

				line-height: 1.45;
				margin-bottom: rem(34);
			}
		}
	}

	//nth-child 1-50
	@for $i from 1 through 50{
		.sPolicy__item:nth-child(#{$i}){
			ul li{
				&:before{
					content: "#{$i}."counter(list)". ";
				}
			}
		}
	}
	&__item-title{
		font-weight: 600;
		font-size: rem(24);
		line-height: (29/24);

		letter-spacing: rem(1);
		margin-bottom: rem(30);
		@include media-breakpoint-up(sm){
			letter-spacing: rem(4.5);
			margin-bottom: rem(50);
		}

		text-transform: uppercase;
	}
	&__{}
} // end.sPolicy