mixin sPolicy(data)
	// start sPolicy
	+b.SECTION.sPolicy.section#sPolicy&attributes(attributes)
		.container
			+e.top
				strong
					| Общество с ограниченной ответственностью «АРТ МОЛЬБЕРТ» (ИНН 7814487932,
					br
					| Юридический Адрес : Санкт-Петербург ул Планерная 27 к 1 кв 16,
					|
				span публикует настоящую оферту (предложение) в адрес любых физических и юридических лиц, и заявляет, что будет считать себя заключившим с лицом, предоставившим Акцепт, описанный в параграфе 2 настоящей Оферты, договор розничной купли-продажи товара на условиях настоящей Оферты.
			+e.items
				+e.item
					+e.item-title ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
					strong Покупатель
					p лицо, заключившее договор розничной купли-продажи Товара с Продавцом путем дачи Акцепта в установленном настоящей Офертой порядке (Покупатель) либо иное лицо, которому Товар, подтверждающий факт заключения договора розничной куплипродажи Товара, был в законном порядке передан Покупателем. На основании статьи 438 Гражданского кодекса РФ это признается полным и безоговорочным принятием (акцептом) условий настоящего публичного Договора (оферты) Покупателем.
					strong Оферта
					p настоящий документ, опубликованный на сайте Продавца, адресованный любому лицу заключить с ним договор розничной купли-продажи товара на условиях настоящей Оферты.
					strong Акцепт
					p действия Покупателя, свидетельствующие о желании заключить договор розничной купли-продажи товара на условиях настоящей Оферты.
					strong Договор розничной купли-продажи товара
					p договор, заключаемый Продавцом с Покупателем в момент получения Акцепта на условиях настоящей Оферты. Факт заключения данного договора подтверждается передачей покупателю товара.
					strong Товары
					p изделия, в том числе, но не исключительно: предметы живописи (картины), графика, фотографии, плакаты, приняты и иные арт-объекты на право приобретения товаров, которые Продавец передает Покупателю в рамках заключенного договора розничной купли-продажи.
					strong Авторское право
					p все товары, представленные на сайте, являются авторскими произведениями (изделиями, третьих лиц, которые были переданы продавцу в рамках соответствующего соглашения с тем или иным автором. Передача права собственности на материальный объект или права владения материальным объектом сама по себе не влечет передачи каких-либо авторских прав на произведение, выраженное в этом объекте, за исключением случаев, предусмотренных законодательством.
					strong Рабочие часы
					p время с 10:00 по 20:00 (включительно) каждого дня недели, исключая праздничные дни.
					strong Сайт
					p интернет-сайт, размещенный Продавцом в сети Интернет по адресу:http:/artmolbert.com/
					strong Место получение товара
					p местонахождение Продавца, иного пункта выдачи, указанное на сайте Продавца, а также адрес, указанный Покупателем при заказе товара и согласованный Продавцом (в случае доставки товара Покупателю).
					strong Цена
					p стоимость товара, установленная Продавцом в отношении определённого товара, которая доведена до сведения неопределённого круга лиц посредством размещения указанной информации на сайте продавца.
				+e.item
					+e.item-title АКЦЕПТ
					ul
						li Под Акцептом в настоящей Оферте понимается внесение Покупателем денежных средств в размере цены товара в кассу или на расчетный счет Продавца, способами, определенными Продавцом.
						li В день совершения Покупателем Акцепта, Покупатель и Продавец считаются заключившими договор розничной купли-продажи Товара на условиях настоящей Оферты, в подтверждение заключения данного договора Покупателю выдается Товар.
						li В зависимости от рыночных условий и наличия изделий в ассортименте продавца и т.п., Продавец вправе временно прекратить заключение договоров розничной куплипродажи товаров определенного вида, несмотря на то, что информация о таких товарах содержится на Сайте Продавца и в рекламных материалах Продавца. В таком случае Акцепты по таким товарам Продавцом не принимаются.
						li Условия заключенного договора розничной купли-продажи товара обязательны для Покупателя. В случае обращения Покупателя за получением товара к Продавцу условия договора розничной купли-продажи товара становятся обязательными для Покупателя с момента обращения.
				+e.item
					+e.item-title ОБЯЗАННОСТИ И ОТВЕТСТВЕННОСТЬ ПРОДАВЦА
					ul
						li
							| Продавец обязан передать Покупателю товар, выбранный Покупателем на сайте Продавца и оплаченный Покупателем способами,
							br
							| указанными Продавцом.
						li Продавец обязан предоставить Покупателю вместе с товаров все необходимые документы, относящиеся к товару.
						li Продавец несет ответственность перед Покупателем за качество предоставленного товара в соответствии с законодательством Российской Федерации.
				+e.item
					+e.item-title ПРЕДОСТАВЛЯЕМЫЕ ТОВАРЫ
					ul
						li
							| Информация о товарах, которые могут быть проданы по договору розничной куплипродажи, заключаемому Покупателем с Продавцом,
							| а также информация о возрастных и иных ограничениях и требованиях, исполнение которых является обязательным для приобретения конкретного товара, содержится на Сайте Продавца, в рекламных материалах Продавца и является частью настоящей Оферты. Такая информация, в частности, может содержать требования о необходимых для приобретения конкретноготовара возрастных и иных ограничениях.
						li
							| Продавец вправе отказать в приобретении товара по конкретному виду товара, если всоответствии с требованиями и ограничениями по получению такого товара, изложеннымина Сайте Продавца, такой товар не может быть предоставлен конкретному Покупателю всилу несоответствия последнего таким требованиям и ограничениям. В этом случаеПокупатель вправе потребовать возврата денежных средств, если таковые были уплачены последним посредством совершения безналичной операции. Однако, в случае, еслиПокупатель не сообщил Продавцу о своем несоответствии таким требованиям
							| и ограничениям, либо ввел Продавца в заблуждение относительно соответствия Покупателятаким требованиям и ограничениям, обязательства Продавца считаются полностью исполненными.
				+e.item
					+e.item-title ПОЛУЧЕНИЕ ТОВАРА
					ul
						li Для получения товара Покупатель обязан оплатить товар любым способом, указанным на сайте Продавца.
						li После покупки товара, либо выбора товара Покупателем производится согласование с Покупателем места и времени получения товара.
						li Оплаченный товар может быть получен в течение одного месяца со дня оплаты товара. По истечении указанного срока, если товар не был получен  Покупателем либо его представителем, Продавец вправе вновь выставить указанный товар на продажу, возвратив денежные средства Покупателю  в срок не превышающий 10 рабочих дней со дня принятия такого решения. Выбранный и зарезервированный товар должен быть оплачен Покупателем  в течении 5 календарных дней с момента получения подтверждения о резервировании товара, в противном случае, Покупатель считается  не исполнившим свою обязанность по оплате товара, договор купли продажи товара считается не заключенным, Продавец вправе реализовывать товар  неограниченному кругу лиц.
						li В описании конкретного товара может быть установлен минимальный срок до даты и времени получения товара.
						li В случае, если получить товар в выбранную Покупателем дату невозможно, сотрудник Продавца обязан предложить другие возможные даты.
						li Место получения товара может согласовываться с Покупателем дополнительно в случае доставки товара Покупателю или иных случаях, не позволяющих получить товар Покупателю в месте нахождения Продавца, указанному на сайте продавца.
						li Покупатель обязан явиться вовремя для получения товара в место получения товара в согласованные при резервировании товара дату и время. При этом Покупатель, оплативший товар безналичным способом обязан иметь при себе документ, удостоверяющий личность. Продавец вправе отказать в выдаче (передачи) товара, если Получатель товара не предъявит документ, удостоверяющий личность или если платеж за товар был совершен от другого лица и получатель товара не имеет при себе надлежаще оформленной доверенности на получение товара.
				+e.item
					+e.item-title ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
					ul
						li Настоящая Оферта становится действительной после ее размещения на Сайте Продавца и/или после ее доведения до Покупателя в Пункте распространения.
						li Оплачивая Номинал и получая Товар, Покупатель тем самым подтверждает свое желание заключить договор розничной купли-продажи на условиях, изложенных в настоящей Оферте.
						li Покупатель обязан ознакомится с настоящей Офертой перед предъявлением требования об исполнении договора в свою пользу. Предъявляя требование об исполнении договора розничной купли-продажи в свою пользу, Покупатель тем самым подтверждает свое согласие с условиями данного договора, изложенными в настоящей Оферте.
				+e.item
					+e.item-title ИНЫЕ УСЛОВИЯ
					ul
						li
							| В случае если какое-либо условие настоящего Договора окажется не подлежащим буквальному исполнению, оно толкуется в соответствии
							| с действующим законодательством РФ с учетом первоначальных интересов сторон, при этом оставшаяся часть условий продолжает действовать
							| в полной мере.
						li
							| Настоящие условия сформулированы в соответствии с Гражданским кодексом РФ. Любые претензии и иски, связанные с услугой, могут быть
							| предъявлены в течение установленного действующим законодательством срока исковой давности.
	// end sPolicy