.top-nav {
  &__container{

  }

  &__menu-col{
    //ul
    .menu{
      list-style: none;
      margin: 0;

      display: flex;
      align-items: center;
    }

    //li
    .menu-item{
      margin-right: rem(31px);

      a{
        display: block;
        text-decoration: none;

        font-size: 18px;
        line-height: 1;
        letter-spacing: 0.06em;
        color: $black;
      }
    }
  }
  &__logo{
    width: rem(120);
    display: block;

    img{
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
  &__sub-row{
    @include roww(rem(20));
  }
  //
  &__dd-link-cont{

  }
  &__dd-link{
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 1;

    &:after{
      content: '';
      margin-left: 8px;
      display: inline-block;

      width: 8px;
      height: 8px;

      background-image: url(../img/svg/sm-chevron-down.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

    }
  }
  //
  &__il-row{
    @include roww(rem(12px));
  }
  &__icon-link{
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      opacity: .8;
    }

    .icon{
      font-size: 32px;
    }
  }
  &__{}
}

//
.mnu-search{
  position: relative;

  &__btn{
    @extend .btn;
    position: absolute;
    z-index: 2;

    bottom: 0;
    left: 0;
    width: rem(32);
    height: rem(32);
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon{
      font-size: rem(18);
    }
  }
  &__input{
    padding: 7px 0 7px 35px;
  }
  .label{

  }
  .l-title{
    left: 35px;
  }
}

.label{
  position: relative;
  margin-bottom: rem(24px);

  input.not-empty,
  input:focus {
    background-color: $white;
    //padding-top: rem(27px);
    //padding-bottom: rem(7px);
  }

  input.not-empty + span,
  input:focus + span,
  textarea.not-empty + span,
  textarea:focus + span ,
  select.not-empty + span,
  select:focus + span {
    top: rem(0px) !important;
    font-size: rem(12) !important;
    color: $black!important;
    text-shadow: 0 0 .7px rgba($black, .8);
  }
}

.l-title {
  @include mt();
  position: absolute;
  pointer-events: none;

  top: calc(100% - 24px);
  left: calc(#{$input-padding-x});
  line-height: $input-line-height;
  color: rgba($black, .4);

  font-size: rem(16);
}

.form-control{
  border-left: none!important;
  border-right: none!important;
  border-top: $input-border-width solid transparent!important;
  //box-shadow: none!important;
}