mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js.on
			span
		+e.inner
			+mnu()
			.text-right

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			.row.align-items-center
				+e.menu-col.col
					+mnu()
				.col-auto
					+e.logo(href='#')
						img(loading="lazy" src='img/svg/logo.svg' alt="")
				.col
					+e.sub-row.row.justify-content-end.align-items-center
						.col-auto
							+inpBlock()
						.col-auto
							+e.dd-link-cont
								+e.dd-link €
						.col-auto
							+e.dd-link-cont
								+e.dd-link EN
						.col-auto
							+e.il-row.row
								.col-auto
									+e.icon-link
										+icon('heart')
								.col-auto
									+e.icon-link
										+icon('user')
								.col-auto
									+e.icon-link
										+icon('bag')
				//-.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
	// end top-nav

mixin inpBlock()
	+b.mnu-search
		+e.btn(type='button')
			+icon('search')
		+inp3('Search', 'text')
		//-+e.INPUT.input(type="text" name='search')

mixin inp3(ph, type, val='', labelClass='custop-ph-label', name="name")
	.label(class=labelClass)
		+e.INPUT.input.form-control.has-ph-js(type=type name=name)&attributes(attributes)
		span.l-title=ph
		block