mixin sNew(data)
	// start sNew
	+b.SECTION.sNew.section#sNew&attributes(attributes)
		+b.section-title--line-r.text-end
			+e.container.container
				h2
					span НОВЫЕ
					br
					span.outlined-txt.ms ПОСТУПЛЕНИЯ
		+e.container.container
			+e.slide-wrap
				.swiper-container.sNew-slider-js
					+e.nav
						+arrow()
					.swiper-wrapper
						+sNewSlide({
							txtItem: 'NEW',
							sale: false,
							imgNum: 1,
						})
						+sNewSlide({
							txtItem: false,
							sale: '-50%',
							imgNum: 2,
						})
						+sNewSlide({
							txtItem: 'BEST SELLER',
							sale: false,
							imgNum: 3,
						})
						+sNewSlide({
							txtItem: 'NEW',
							sale: false,
							imgNum: 4,
						})
	// end sNew

mixin sNewSlide(data)
	.swiper-slide
		+e.item
			+e.box
				+e.like-btn(href="#")
					+icon('heart')
				+e.top-row.row.align-items-center
					if data.txtItem
						+e.txt-col.col-auto=data.txtItem
					if data.sale
						.col-auto
							+e.sale=data.sale
				+e.img
					img(loading="lazy" src=`img/@2x/sNew-${data.imgNum}.png` alt="")
			+e.txt-cont
				+e.author Александр Воцмуш
				+e.name На Финском заливе
				+e.size 60 x 159 cm
				+e.lower-row.row.align-items-center
					+e.price-col.col-auto 140 000 ₽
					.col-auto
						+e.bag-btn(href="#")
							+icon('shopping-bag')