// start .sNew
.sNew {
	@include media-breakpoint-up(md){
		--sPT: #{rem(20px)};
		--sPB: #{rem(80)};
		--sTPB: #{rem(35px)};
	}

	&.sNew-p-alt{
		@include media-breakpoint-up(md){
			--sPT: #{rem(75)};
			--sPB: #{rem(75)};
		}

		.sNew__nav{
			margin-bottom: rem(20);
		}
	}
	&__title-alt{
		h2{
			font-weight: 600;
			font-size: rem(24px);
			line-height: 1;
			text-transform: uppercase;

			color: $black;
			margin-bottom: 0;
		}

		margin-bottom: rem(10);
		@include media-breakpoint-up(md){
			margin-bottom: rem(-30px);
		}
		@include media-breakpoint-up(xxl){
			margin-bottom: rem(-43px);
		}
	}

	//
	.section-title{
		&__container{
			@include media-breakpoint-up(xl){
				padding-left: rem(157px);
			}
		}
		h2{
			line-height: 1;
			@include media-breakpoint-up(sm){
				line-height: 0.85;
			}
		}

		.choise{
			@include media-breakpoint-up(xl){
				margin-right: rem(193);
			}
		}

		.ms{
			margin-left: rem(44);
		}
	}

	&__container{

	}
	&__slide-wrap{
		@include media-breakpoint-up(xxl){
			padding: 0 4px;
		}

		.swiper-container{
			padding: 20px;
			margin: -20px;

			@include media-breakpoint-down(xl){
				overflow: visible!important;
			}
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: rem(320);
			@include media-breakpoint-up(md){
				width: calc((100% / 2) - (20px * 1 / 2));
			}
			@include media-breakpoint-up(lg){
				width: calc((100% / 3) - (20px * 2 / 3));
			}
			@include media-breakpoint-up(xl){
				width: calc((100% / 4) - (20px * 3 / 4));
			}
		}
	}
	&__item{

	}
	&__nav{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: rem(10);

		.swiper-prev{
			margin-right: 10px;
		}
		.swiper-next{}

		@include media-breakpoint-up(xxl){
			margin-right: -5px;
		}
	}
	&__box{
		@include mt();
		background: $white;
		border: 1px solid $gray-610;

		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
		&:hover{
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
		}

		padding: rem(40);
		@include media-breakpoint-up(xl){
			padding: rem(60) rem(40) rem(40) rem(40);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(43) rem(47) rem(41);
		}

		margin-bottom: rem(20);
	}
	&__like-btn{
		position: absolute;
		top: rem(16);
		right: rem(16);
		width: rem(32);
		height: rem(32);

		.icon{
			font-size: 32px;
		}
	}
	&__top-row{
		position: absolute;
		top: 12px;
		left: 12px;
	}

	&__img{
		width: 100%;
		height: rem(288);

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__txt-cont{
		padding: 0 rem(28px);
	}
	&__author{
		font-size: rem(14px);
		line-height: 1;
		color: $gray-810;
		margin-bottom: rem(10);
	}
	&__name{
		font-weight: 600;
		//font-size: 18px;
		line-height: 1;
		text-transform: capitalize;
		margin-bottom: rem(10);
	}
	&__size{
		font-size: 14px;
		line-height: 1;
		color: $gray-810;

		width: rem(160);
		max-width: 100%;
		border-bottom: 1px solid $orange2;
		padding-bottom: rem(10);

		margin-bottom: 15px;
	}
	&__lower-row{
		@include roww(rem(28));
	}
	&__price-col{
		display: flex;
		flex-direction: column;

		min-height: 44px;
	}
	//
	&__price-old{
		font-size: rem(16px);
		line-height: 1;

		letter-spacing: rem(.5px);
		text-decoration-line: line-through;
		//text-transform: uppercase;

		color: $gray-810;
		.currency{
			margin-left: 1px;
			font-size: 0.9em;
		}
	}
	&__price-curr{
		margin-top: auto;

		font-size: rem(24);
		line-height: 1;
		letter-spacing: rem(.5px);

		.currency{
			margin-left: 1px;
			font-size: 0.9em;
		}
	}

	&__bag-btn{
		width: rem(30);
		height: rem(30);
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		//border: 1px solid transparent;
		border: 1px solid $orange2;
		&:hover{
			border: 1px solid $orange2;
		}

		.icon{
			font-size: rem(18);
		}
	}
	&__{}
	&__{}
} // end.sNew

.red-txt-box{
	font-weight: 800;
	font-size: rem(14);
	line-height: 1;
	color: $orange2;
	padding: rem(8px);
}
.sale-box{
	padding: rem(7) rem(9);
	border: 2px solid $orange2;

	font-weight: 600;
	font-size: 12px;
	line-height: 1;
	color: $orange2;
}