// start .sServises
.sServises {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		&__col{
			@include media-breakpoint-up(sm) {
				display: flex;
			}
			margin-bottom: rem(60);
		}
		&__img-wrap{
			flex:  0 0 auto;
			margin-right: rem(20);
		}
		.h5{
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			margin-bottom: rem(20);
		}
		a{
			text-decoration: none;
			font-weight: 600;
			@extend .text-body;
		}


	@include media-breakpoint-up(xl) {
		.row{
			--bs-gutter-x: #{rem(100px)};
		}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sServises