mixin sServises(data)
	// start sServises
	+b.sServises.section#sServises&attributes(attributes)
		.container
			.row
				mixin item(i,t,p)
					+e.col.col-lg-6 
						+e.img-wrap 
							img.res-i(src=`img/svg/servises-${i}.svg`, alt="")
						+e.text 
							.h5= t
							p!= p
							block
				+item(`1`,`Картины на заказ`,`Картина может стать особенным и&nbsp;запоминающимся подарком. В&nbsp;галерее вы&nbsp;можете заказать картину.  Наши художники работают в&nbsp;разнообразных жанрах:  от&nbsp;портрета и&nbsp;натюрморта до&nbsp;многофигурных  и&nbsp;абстрактных композиций. Каждый из&nbsp;них обладает яркой индивидуальностью. Мы&nbsp;также предлагаем сделать копию с&nbsp;картин всемирно известных мастеров.`)
				+item(`2`,`Купить в рассрочку`,`Теперь понравившаяся картина стала доступнее.  В artmolbert , вы можете приобрести картину в рассрочку: <strong> БЕЗ КОМИССИИ И УВЕЛИЧЕНИЯ СТОИМОСТИ</strong>. `)
					p Подробности можно уточнить у наших менеджеров:
						br
						a(href="tel:+7(812)438-01-14")  +7 (812) 438-01-14
					p
						a(href="mailto:info@molbertgallery.ru ") info@molbertgallery.ru 
					p Все договоренности индивидуальны и конфиденциальны.
				+item(`3`,`Оформление интерьера`,`Artmolbert оказывает помощь в&nbsp;подборе произведений искусства для оформления интерьеров. Мы&nbsp;представляем интересные решения для дизайнерских задач  с&nbsp;использованием различных техник: живопись,  графика, витраж, скульптура, фотография, фреска и&nbsp;др. Осуществляем архитектурно&nbsp;&mdash; проектную деятельность.`)
				+item(`4`,`Разрешение на вывоз`,`Мы поможем подготовить документы, необходимые для транспортирования приобретенных у нас предметов искусства в другие страны.`)
				+item(`5`,`Организация выставок`,`Мы&nbsp;помогаем организовывать выставки художникам  и&nbsp;галереям из&nbsp;других городов и&nbsp;стран не&nbsp;только на&nbsp;своей площадке, но&nbsp;и&nbsp;в&nbsp;выставочных залах городского  и&nbsp;федерального значения.`)
	// end sServises