//- WP menu
mixin mnu()
	-
		var nav= { 
			"Искусство":"#",
			"Авторы":"#",
			"Коллекции":"#",
			"Подарки":"#" ,
			}
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)=linkName
//- menu
		
//- /menu